<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img src="public/img/bee.png" alt="">
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>POLY DATING</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/statistical"><i
                                class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/page/1"><i
                                class="fas fa-user"></i></i><span>Người dùng</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/reports"><i class="fas fa-flag"></i><span>Báo
                                cáo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/notifications"><i
                                class="fas fa-bell"></i><span>Thông
                                báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/index"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Thống kê</h4>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Thống kê chi tiết</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto text-nowrap">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm">
                                                <option value="" selected="">Cơ sở</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto text-nowrap">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm">
                                                <option value="" selected="">Chuyên nghành</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto text-nowrap">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm">
                                                <option value="" selected="">Khóa</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto text-nowrap">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm">
                                                <option value="" selected="">Ngày</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-4 mb-2">
                                    <p class="fw-bold h5">Tổng người dùng: 50</p>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <p class="fw-bold h5">Sinh viên Nam: 50</p>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <p class="fw-bold h5">Sinh viên Nữ: 50</p>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <p class="fw-bold h5">Số lượt nhắn tin: 50</p>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <p class="fw-bold h5">Số phiếu báo cáo: 50</p>
                                </div>
                            </div>
                        </div>

                        <div class="container" id="page-content" style="margin-bottom: 10px;">
                            <div class="row justify-content-center">
                                <div class="col-sm-10 col-md-10">
                                    <div class="card">
                                        <div class="card-header"></div>
                                        <div class="card-body">
                                            <div class="chartjs-size-monitor"
                                                style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                <div class="chartjs-size-monitor-expand"
                                                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                    <div
                                                        style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                                    </div>
                                                </div>
                                                <div class="chartjs-size-monitor-shrink"
                                                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                                    </div>
                                                </div>
                                            </div> <canvas id="chart-line" width="299" height="200"
                                                class="chartjs-render-monitor"
                                                style="display: block; width: 299px; height: 200px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
    <script>
        $(document).ready(function () {
            var ctx = $("#chart-line");
            var myLineChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
                    datasets: [{
                        data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
                        label: "Số lượt match",
                        borderColor: "#FF99FF",
                        backgroundColor: '#FF99FF',
                        fill: false,
                    }, {
                        data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
                        label: "Thời gian hoạt động của người dùng",
                        borderColor: "#458af7",
                        fill: true,
                        backgroundColor: '#458af7'
                    }, {
                        data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
                        label: "Số lượng người dùng hoạt động",
                        borderColor: "#33FF33",
                        fill: false,
                        backgroundColor: '#33FF33'
                    }, {
                        data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
                        label: "Số lượt báo cáo",
                        borderColor: "#FF9900",
                        backgroundColor: '#FF9900',
                        fill: false
                    }, {
                        data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
                        label: "Số lượt tin nhắn",
                        borderColor: "#3cba9f",
                        fill: true,
                        backgroundColor: '#3cba9f'
                    }, {
                        data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
                        label: "Số lượt chặn",
                        borderColor: "#FF0000",
                        fill: false,
                        backgroundColor: '#FF0000'
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Thống kê'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Ngày'
                            },
                            ticks: {
                                major: {
                                    fontStyle: 'bold',
                                    fontColor: '#FF0000'
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Số lượng'
                            }
                        }]
                    }
                }
            });
        });
    </script>
</body>